.app-container {
  height: 100vh;
  width: 100vw;
  font-family: 'Plus Jakarta Sans', 'Noto Sans', sans-serif;
  background-color: #17141f;
  display: flex;
  flex-direction: column;
}

.content-area {
  flex-grow: 1;
  overflow-y: auto;
  padding-top: 80px; 
}